<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>

    <a href="/robots"><%= "<< back" %></a>

    <p><%= robot.name %> - <%= robot.description %></p>
    <p>In Stock: <%= robot.in_stock %></p>
    <a href="/robots/edit"><button> Edit Robot </button></a>
    <button> Delete Robot</button>

  </body>
</html>
